{% extends 'kudos/base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
  <div class="jumbotron">
  	<h6>Thank you for being part of Kudo App :)</h6>
  	<a href="{% url 'login' %}">Log In Again</a>
  </div>

{% endblock %}