{% extends "kudos/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<form method="POST" action="{% url 'register' %}">
		{{form.as_p}}
		{{profile_form.as_p}}
	<input type="submit" value="Submit">
</body>
</html>
{% endblock content %}