<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Kudos Giver!</title>
  </head>
  <body>
    <!-------------------------------Navbar------------------------------------------------->
    <header class="site-header">
      <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container">
          {% if user.is_authenticated %}
            <h6 style="color:white; text-align: center;">Logged in as: {{user.username}} ({{user.organization_name}})</h6>
          {% endif %}
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="navbar-brand mr-4" href="{% url 'home' %}" style="color:green;">Home</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}" style="color:green;" >Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}" style="color:green;">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}" style="color:green;">Sign Up</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>