{% extends "kudos/base.html" %}
{% block content %}
  <div class="Home">
    <h3>Give Kudos</h3>
    <p>Appreciate your team members by giving them <strong>kudos</strong> every week.!!</p>
    <a class="btn btn-primary" href="{% url 'dashboard'%}" style="background-color:green;">Go To Your Dashboard</a>
    <a class="btn btn-primary" href="{% url 'givekudo'%}" style="background-color:green;">Give Kudo</a>
  </div>
{% endblock content %}