{% extends "kudos/base.html" %}
{% block content %}


<hr>
<h3>Enter the details to give kudos</h3>
<hr>
<form method="POST" action="">
	{{ form.as_p }}
	{{ form.errors }}
	{{ form.non_field_errors }}
	<div class="form-group">
		<input type="submit" class="btn btn-info" value="Give Kudo" style="background-color:green;">
	</div>
</form>
{% endblock content %}